fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.23
pytesseract
python-dotenv
poppler-utils
psycopg2-binary==2.9.9
python-multipart==0.0.6
pydantic==2.5.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
openai==1.55.3
